<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-dm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">_id</th>
                <th scope="col">courseTitle</th>
                <th scope="col">courseDescription</th>
                <th scope="col">courseDuriation</th>
                <th scope="col">courseVenue</th>
                <th scope="col">courseDate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <th scope="row">{{i._id}}</th>
                <td>{{i.courseTitle}}</td>
                <td>{{i.courseDescription}}</td>
                <td>{{i.courseDuriation</td>
                  <td>{{i.courseVenue}}</td>
                  <td>{{i.courseDate}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
                  </div>
            </div>
        